/* ---------------------------- @use "vars" as v; --------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel-inner {
  max-width: 100%;
  max-height: auto;
}